* {
    --accentcolor3: #c0e847;
    --accentcolor4: #cbf828;
    --accentcolor5: #32a7d9;
    --accentcolor6: #079caf;
    --accentcolor8: #08e2df;
    --backgroundcolor9: #818181;
    --backgroundcolor10: #acacac;
    --backgroundcolor2: #dddfd6;
    --textcolor11: #3c5764;
    --textcolor12: #2f4f56;
    --textcolor1: #2e414d;
    --textcolor7: #08605b;
}
