body {
    /* background: url(./background.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: cadetblue;

}

.row {
    margin-top: 15px;
    height: 400px;
}

#span-id {
    text-align: center;
    margin-left: 220px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

#col-left-id {
    margin-top: 10px;
    height: 50px;
}


#colum-box {
    margin-top: 5px;
    margin: auto;
}

.search-header {
    margin-top: 10px;
}

.input-div {
    margin-top: 30px;
}


#jumbotron-div-id {

    margin-right: 400;
    margin-left: 400;
}

#jumbotron-id {
    font-style: italic;
    font-size: 20px;
    color: black;
    background-color: transparent;
    width: 650px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

}

ul {
    margin-right: 50px;
    margin-left: 50px;
}

li {

    margin-top: 20px;
    list-style: none;
    text-align: center;
}

#img-id {
    height: 300px;
    width: 500px;

}